.skin-blue .main-header .navbar {
    background-color: #17a2b8 !important;
}
.skin-blue .main-header .logo {
    background-color: #108ea2 !important;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #108ea2 !important;
}
.skin-blue .main-header li.user-header {
    background-color: #17a2b8 !important;
}